<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <span class="display-4" align="left">
                <a class="navbar-brand"><img src="~/images/icons8-kontakty-160.png" alt="The Phone Book logo" /></a>
                The Phone Book <span class="text-warning">|</span>
                <small class="text-muted text-dark"> <em> All contacts in one place</em></small>
            </span>
        </div>
    </div>
</div>