@model PhoneBook.Models.PersonModel

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p class="display-4">Deleted confirmation</p>
                <div class="clearfix">
                </div>
                <div class="col-sm-12 text-left">
                    @TempData["deleted"]
                </div>
            </div>
        </div>
    </div>
</div>